<header class="main-header">
    <nav class="main-header__navbar">
        <h1 class="main-header__logo-text">Victor</h1>
        <ul class="main-header__navbar-list">
            <li class="main-header__navbar-item">
                <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
            </li>
            <li class="main-header__navbar-item">
                <a href="/users" class="<%= path === '/users' ? 'active' : '' %>">User</a>
            </li>
        </ul>
    </nav>
</header>