.card {
    width: 520px;
    display: flex;
    flex-direction: column;
    background-color: #EFF5F5;
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img-wrapper {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.card-img-wrapper img {
    width: 150px;
    border-radius: 100%;
}

.card-text-wrapper {
    padding: 10px;
}

.card-text-wrapper table {
    table-layout: fixed;
    width: 100%;
}

.card-text-wrapper table thead tr th {
    text-align: center;
}


.card-text-wrapper table tr th,
.card-text-wrapper table tr td {
    padding: 8px;
}

.card-text-wrapper table tbody tr th {
    text-align: left;
    display: flex;
    align-items: start;
}