* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.main-header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 20px;
}


.main-header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.main-header__logo-text {
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgb(68, 68, 68);
}

.main-header__logo-text::first-letter {
    color: #B721FF;
}

.main-header__navbar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.main-header__navbar-item {
    padding: 0 20px;
}

.main-header__navbar-item a {
    text-decoration: none;
    color: #292626;
}

.main-header__navbar-item a:hover,
.main-header__navbar-item a:active,
.main-header__navbar-item a.active {
    color: #292626;
    font-weight: 600;
}


main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}